nav 
    ul
        li
            a(href="/view/categoria/listar") Categorias
            ul
                li
                    a(href="/view/categoria/listar") Listar
                li
                    a(href="/view/categoria/cadastrar") Cadastrar
                li
                    a(href="/view/categoria/alterar") Alterar
                li
                    a(href="/view/categoria/apagar") Apagar
        li
            a(href="/view/log/listar") Listar
            ul
                li
                    a(href="/view/log/listar") Listar
                li
                    a(href="/view/log/cadastrar") Cadastrar
                li
                    a(href="/view/log/altear") Alterar
                li
                    a(href="/view/log/apagar") Apgar